@use 'sass:color';

@mixin scroller($backgroundColor: #a5a5a5, $width: 4px, $height: 4px) {
	&::-webkit-scrollbar {
		width: $width;
		height: $height;
		background-color: color.adjust($backgroundColor, $lightness: 80%);
	}
	&::-webkit-scrollbar-thumb {
		height: 2px;
		border-radius: 2px;
		background-color: $backgroundColor;
	}
}
