// 整个站点样式

@charset 'utf-8';
@use 'conf' as *;
@use 'mixins/clearfix' as *;
@use 'mixins/scroller' as *;
@use 'mixins/ellipsis' as *;
@use './icon/iconfont';
// @use 'bk-patch';
@use './animation';

* {
	box-sizing: border-box;
    outline: none;
}

html,
body {
    min-width: 1180px;
	height: 100%;
	font-family: "Microsoft Yahei", "PingFangSC-Regular";
	background-color: #fafbfd;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #fff !important;
}

pre {
  margin: 0px;
  font-family: "Microsoft Yahei", "PingFangSC-Regular";
}

/* 整体页面样式 */
.itsm-page-content {
    padding: 20px;
}
.bk-itsm-box {
    width: 100%;
    height: 100%;
    @include scroller;
    overflow: auto;
}
